<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbv2.icelandevents">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.IcelandEvents"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CreateEventActivity"
            android:label="@string/title_activity_create_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyEventActivity"
            android:label="@string/title_activity_my_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EditEventActivity"
            android:label="@string/title_activity_edit_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.prufaActivity"
            android:label="@string/title_activity_prufa"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>